[submodule "frontend/react-demo"]
	path = frontend/react-demo
	url = https://github.com/durumee/react-demo
[submodule "backend/boot-demo"]
	path = backend/boot-demo
	url = https://github.com/durumee/spring-boot-demo
	branch = db-docker
